<video autoplay="" muted="" loop="" poster="/assets/media/b-bee.png" id="bgvid">
            <source src="/assets/media/b-bee.mp4" type="video/mp4">
</video>
<footer>
  <div class="footer-wrapper">
    <p class="name">
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
    </p>
    <ul class="contact-list">
      {%- if site.email -%}
      <li class="email">
        <a href="mailto:{{ site.email }}"><span>{{ site.email }}</span></a>
      </li>
      {%- endif -%}
      {%- if site.phone -%}
      <li class="phone">
        <a href="tel:{{ site.phone }}"><span>{{ site.phone }}</span></a>
      </li>
      {%- endif -%}
      {%- if site.site_repository -%}
      <li class="social">
        <a href="{{ site.site_repository }}"><span>Site Repository (GitHub)↗</span></a>
      </li>
      {%- endif -%}
    </ul>
    {%- if site.description -%}
    <div class="description">
      <p>{{- site.description | escape -}}</p>
    </div>
    {%- endif -%}
</footer>
