<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffe06a"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{ "/beezoo/assets/main.css" | relative_url }}">
    <meta name=“robots” content=“none,” “noarchive,” “nocache,” “nosnippet”>
    <script>
      (function(d) {
        var config = {
          kitId: 'bwx1zhr',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <!--Polyfill for Intersection Observer support in safari and mobile browsers, req for lazyImages-->
    <script src="/assets/js/intersection-observer.js" defer></script>
    <script src="/assets/js/lazy-images.js" defer></script>
    <script src="/assets/js/details-toggle.js" async></script>
    <!--page-specific css and js-->
    {% if page.css %}
      {% for stylesheet in page.css %}
      <link rel="stylesheet" href="/assets/css/{{ page.category | escape }}/{{ stylesheet }}.css">
      {% endfor %}
    {% endif %}
    {% if page.js %}
      {% for js_file in page.js %}
      <script src='/assets/js/{{ page.category | escape }}/{{ js_file }}.js' async></script>
      {% endfor %}
    {% endif %}
    {% if page.js_defer %}
      {% for js_file in page.js_defer %}
      <script src='/assets/js/{{ page.category | escape }}/{{ js_file }}.js' defer></script>
      {% endfor %}
    {% endif %}
  </head>
