<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        <nav class="nav-project">
            <details class="menu-project">
                <summary>
                  <h1 id="{{ page.title | replace:'_', ' ' | escape }}">{{ page.title | escape }}</h1>
                </summary>
                {%- if page_paths -%}
                <ul>
                  {%- for path in page_paths -%}
                  {%- assign my_page = site.pages | where: "path", path | first -%}
                  {%- if my_page.title -%}
                  <li>
                    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                  </li>
                  {%- endif -%}
                  {% endfor -%}
                </ul>
                {%- endif -%}
            </details>
        </nav>
        {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>